<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class=" min-h-screen bg-black text-white">
    <div class="form">
        <form action="/create" method="post" placeholder="Enter your name"
            class="flex flex-col gap-4 items-center pt-20">
            <input class="w-[700px] rounded-md" type="text" placeholder="title" name="title" />
            <textarea class="w-[700px] rounded-md" placeholder="description" name="details"></textarea>
            <button class="btn bg-blue-400 hover:bg-blue-600 rounded-lg text-white" type="submit">Submit</button>
        </form>

    </div>
    <div class="tasks flex flex-wrap gap-4 justify-center pt-20">
        <%if(files.length>0){%>
            <%files.forEach((val)=>{%>
                <div class="task w-72 border-2 rounded-lg h-[120px] bg-gray-800 flex flex-col justify-between">
                    <h1 class="text-xl text-semibold tracking-tighter p-2">
                        <%= val %>
                    </h1>
                    <div class="flex justify-between items-center p-2">
                        <a href="/file/<%= val %>" class="text-blue-400 hover:text-blue-600">
                            Read more
                        </a>
                        <a href="/edit/<%= val %>" class="text-zinc-500 hover:text-zinc-700">Edit</a>
                        <a href="/delete/<%= val %>" class="text-red-500 hover:text-red-700 text-sm">Delete</a>
                    </div>
                </div>
                <%}) %>
                    <%} else{ %>
                        <h1 class="text-xl text-semibold tracking-tighter%> p-2">no tasks available</h1>
                        <% } %>
    </div>
    <script src="/javascripts/script.js"></script>
</body>

</html>