<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class=" min-h-screen bg-black text-white">
    <div class="form">
        <form action="" placeholder="Enter your name" class="flex flex-col gap-4 items-center pt-20">
            <input class="w-[700px] rounded-md" type="text" placeholder="title" />
            <textarea class="w-[700px] rounded-md" placeholder="description"></textarea>
            <button class="btn bg-blue-400 hover:bg-blue-600 rounded-lg text-white" type="submit">Submit</button>
        </form>

    </div>
    <div class="task flex flex-row justify-center gap-4 pt-20">
        <div class="task w-72 hidden border-2 rounded-lg h-[100px] bg-gray-800">
            <h1 class="text-xl text-semibold tracking-tighter p-2">Some task goes here</h1>
            <a href="" class="text-blue-400 hover:text-blue-600 pl-2 ">read more</a>
        </div>
        <div class="task w-72 hidden border-2 rounded-lg h-[100px] bg-gray-800">
            <h1 class="text-xl text-semibold tracking-tighter p-2">Some task goes here</h1>
            <a href="" class="text-blue-400 hover:text-blue-600 pl-2 ">read more</a>
        </div>
        <div class="task w-72 hidden border-2 rounded-lg h-[100px] bg-gray-800">
            <h1 class="text-xl text-semibold tracking-tighter p-2">Some task goes here</h1>
            <a href="" class="text-blue-400 hover:text-blue-600 pl-2 ">read more</a>
        </div>
        <h1 class="text-xl text-semibold tracking-tighter p-2">no tasks available</h1>
    </div>

    <script src="/javascripts/script.js"></script>
</body>

</html>